
<header class="bg-main dark-nav ">
   <div class="container">
    <div class="navbar expand-lg me-5 pe-5 ">
        <img width="110" class="logo" src="/assets/pngwing.com.png" alt="netflix-logo">
  
        <ul  class=" nav pe-5 me-4 ">
          <li class="nav-items"><a href="" class=" nav-link text-white">Home</a></li>
          <li class="nav-items"><a href="" class=" nav-link text-white">Tv show</a></li>
          <li class="nav-items"><a href="" class=" nav-link text-white">News & Popular</a></li>
          <li class="nav-items"><a href="" class=" nav-link text-white">My List</a></li>
          <li class="nav-items"><a href="" class=" nav-link text-white">Browser By Langugae</a></li>
          <li class="nav-items"><img src="/assets/subhash.jpg" width="50" height="45" class="rounded-circle ms-4" alt="user.pic"></li> 
          <li class="nav-items"> 
              <a href="" class="nav-link text-white"><span>User <strong>Subhash</strong></span></a></li>
             
        <li class="nav-items"><a href="" class="nav-link text-white">SignOut</a></li>
          
        </ul>
        
       
      </div>
      
   </div>
   
       
   
    
  </header>