<div class="container">
<div class="fixed-container">
<div class="iframe-container ">

    <iframe [src]="videoUrl" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
     <div class="banner-section text-white d-flex flex-column justify-content-center ">
        <h1 class="display-1 fw-bold">{{bannerTitle}}</h1>
    <p class="py-3 fs-4 w-50">{{bannerOverview}}</p>
    <div>
        <button class="btn btn-dark text-dark py-3 px-5 me-2 fw-bold">
            <i class="bi bi-play-fill "></i> Play
        </button>
        <button class="btn btn-secondary bg-opacity-70 text-white py-3 px-5 fw-bold">
          More Info
        </button>
      </div>
    </div>
</div>
</div>
</div>