
<main class="main-container">
    <app-header></app-header>

    <app-banner [bannerTitle]="(bannerDetail$ | async)?.original_title" [bannerOverview]="(bannerDetail$ | async)?.overview"></app-banner>

 <app-movie-carousel [title]="'Now Playing Movies'" [videoContents]="nowPlayingMovies"></app-movie-carousel>
 <app-movie-carousel  [title]="'Trending TV shows'" [videoContents]="tvShows"></app-movie-carousel>
<app-movie-carousel [videoContents]="movies" [title]="'popular movies'" ></app-movie-carousel> 
 <app-movie-carousel [title]="'Top Rated Movies'" [videoContents]="ratedMovies"></app-movie-carousel>
  <app-movie-carousel [title]="'Upcoming Movies'" [videoContents]="upcomingMovies"></app-movie-carousel>
    <router-outlet></router-outlet>
  </main>
